.Body {
	min-height: 80vh;
}

.HR {
	background-color: #000;
	height: 2px;
}

.Row {
	display: flex;
}

.H2 {
	display: inline-block;
	width: max-content;
	margin-right: 8px;
}

.HRLight {
	flex-grow: 1;
	height: 1px;
	background-color: #888;
	width: auto;
}
