.Btn {
	background-color: #724cf9;
	color: white;
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	font-size: large;
	margin-top: 20px;
	transition: 0.2s ease-in-out;
}

.Btn:hover,
.Btn:focus {
	transform: scale(1.05);
	filter: drop-shadow(0 0 8px #724cf9);
	outline: none;
}
